{% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}

<div class="ui right floated buttons">
    {{ buttons.edit(path('app_backend_pet_update', {'id': pet.id})) }}
</div>

<div class="ui right floated buttons">
    {% include 'backend/pet/button/_status.html.twig' %}
</div>
