{% set taxon_slug = app.request.get('slug') %}

<div class="header-pets">
    {% if taxon_slug is null %}
        {% include 'frontend/pet/index/_simple_breadcrumb.html.twig' %}
    {% else %}
        {{ render(url('app_frontend_partial_taxon_show', {'template': 'frontend/pet/index/_breadcrumb.html.twig', 'slug': taxon_slug})) }}
    {% endif %}
    <h1>{{ 'app.ui.adopt_the_perfect_pet_for_you_and_your_family'|trans }}</h1>
</div>
<div class="grid-container grid-x align-justify petpage">
    <div class="cell large-2 medium-3 animal-filter">
        <h2>{{ 'sylius.ui.filters'|trans }}</h2>
        {% include 'frontend/pet/_filters.html.twig' %}
    </div>
    <div class="cell medium-9"
         data-pets
         data-url="{{ taxon_slug is null ? path('app_frontend_ajax_pet_index') : path('app_frontend_ajax_pet_per_taxon_index', { 'slug': taxon_slug }) }}"
    >
        {% include 'frontend/pet/index/_main.html.twig' %}
    </div>
</div>
