{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

<div class="grid-x grid-margin-x">
    <div class="cell small-6">
        <div class="ui three link cards">
            {% for pet in pets.data %}
                {% include 'frontend/pet/_card.html.twig' with {'pet': pet} only %}
            {% endfor %}
        </div>

        <div class="ui hidden divider"></div>

        {{ pagination.simple(resources.data) }}
    </div>
</div>


