{% import 'frontend/pet/pagination.html.twig' as pagination %}
<div class="header-pets">
    <h2>{{ 'app.ui.adopt_the_perfect_pet_for_you_and_your_family'|trans }}</h2>
</div>
<div class="grid-x grid-margin-x petpage">
    <div class="cell small-2">
    </div>
    {% include 'frontend/pet/_filters.html.twig' %}
    <div class="cell small-1">
    </div>
    <div class="cell small-6">
        <div class="ui three link cards">
            {% for pet in pets.data %}
                {% include 'frontend/pet/_card.html.twig' with {'pet': pet} only %}
            {% endfor %}
        </div>

        <div class="ui hidden divider"></div>
        {{ pagination.simple(resources.data) }}
    </div>
    <div class="cell small-1">
    </div>
</div>


