<nav aria-label="You are here:" role="navigation" class="breadcrumb pet-page">
    <ul class="breadcrumbs">
        <li><a href="{{ path('app_frontend_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a></li>
        <li>
            <span class="show-for-sr">Current: </span> {{ 'sylius.ui.all'|trans }}
        </li>
    </ul>
</nav>
