{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="grid-container grid-x">
        <div class="cell">
            {% block breadcrumb %}
            {% endblock %}
        </div>
    </div>

    <div class="grid-container grid-x">
        <div class="cell large-3">
            {{ knp_menu_render('app.account', {'template': 'frontend/menu/simple.html.twig'}) }}
        </div>
        <div class="cell large-8 large-offset-1">
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
