body {
  font-family: Inter regular;
  font-size: 16px;
}

h1 {
  font-family: Poppins;
  font-size: 40px;
}

h2 {
  font-family: Inter regular;
  font-size: 18px;
}

h3 {
  font-family: Inter regular;
  font-size: 16px;
}

.top-bar{
  box-shadow: 0 8px 14px 0 rgba(19, 62, 86, 0.08), 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  background-color: #ffffff;
}

.top-bar ul{
  background-color: #ffffff;
}
