.main-content {
    padding-top: 1rem;
    padding-bottom: rem-calc(72);
    @include breakpoint(small only){
        padding-top: .4rem;
        padding-bottom: 3rem;
    }
}
.b-shadow {
    box-shadow: 0 2px 4px rgba(#000, 0.12);
}
.b-shadow-big{
    box-shadow: 0 16px 24px rgba($secondary-color, .1);
}
