@import "../global/variables";

body {
  background-color: map-get($monofony-color, light-grey);
}

.container {
  z-index: 1;
  position: relative;
}

.sylius-filters__field > div > label{
    font-family: Inter regular;
    font-size: 16px;
    font-weight: bold;
    color: rgba(29, 71, 98, 0.5);
    margin-bottom: 1vw;
}
