$foundation-palette: (
  primary: #4baeb4,
  secondary: #133e56,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$light-gray: #F4F8F9;
$medium-gray: #8DA2B0;
$dark-gray: #5E7280;
$black: #0a0a0a;
$white: #ffffff;
$light-blue: #4baeb4;
$dark-blue: #133e56;

$body-background: $light-gray;
$body-font-color: $dark-blue;
