@each $color-name, $color in $foundation-palette {
    .#{$color-name} {
        color: $color;
    }

    .bg-#{$color-name} {
        background-color: $color;
    }

    .fill-#{$color-name} {
        fill: $color;
        path {
            fill: $color;
        }
    }
}
