$spacing-directions: (
    t: top,
    b: bottom,
    l: left,
    r: right
);

$spacing-axes: (
    v: (
        top,
        bottom
    ),
    h: (
        left,
        right
    )
);

.pa {
    padding: $global-padding;
}
.ma {
    margin: $global-margin;
}

@each $scale-name, $scale in $spacing-scale {
    .pa-#{$scale-name} {
        padding: $scale;
    }

    .ma-#{$scale-name} {
        margin: $scale;
    }

    @each $direction-name, $direction in $spacing-directions {
        .p#{$direction-name}-#{$scale-name} {
            padding-#{$direction}: $scale;
        }
        .m#{$direction-name}-#{$scale-name} {
            margin-#{$direction}: $scale;
        }

        .p#{$direction-name} {
            padding-#{$direction}: $global-padding;
        }
        .m#{$direction-name} {
            margin-#{$direction}: $global-margin;
        }
    }

    @each $axe-name, $directions in $spacing-axes {
        .p#{$axe-name}-#{$scale-name} {
            @each $direction in $directions {
                padding-#{$direction}: $scale;
            }
        }
        .m#{$axe-name}-#{$scale-name} {
            @each $direction in $directions {
                margin-#{$direction}: $scale;
            }
        }

        .p#{$axe-name} {
            @each $direction in $directions {
                padding-#{$direction}: $global-padding;
            }
        }
        .m#{$axe-name} {
            @each $direction in $directions {
                margin-#{$direction}: $global-margin;
            }
        }
    }
}

@include breakpoint(small only) {
    .no-padding-for-small {
        padding: 0;
    }
}

@include breakpoint(medium only) {
    .no-padding-for-medium {
        padding: 0;
    }
}
