{% import 'backend/macro/image.html.twig' as images %}

<div id="pet-card" class="card">
    <div class="image">
        {% if pet.firstImage is not null %}
            {% set path = vich_uploader_asset(pet.firstImage, 'file') %}
            {{ images.render(path, 'pet_grid', pet.name) }}
        {% endif %}
    </div>
    <div class="content">
        <a id="pet-card-name" class="header" href="{{ path('app_frontend_pet_show', { 'slug': pet.slug }) }}">{{ pet.name }}</a>
        <div class="meta">
            <a id="pet-card-taxon">{{ pet.taxon.name }}</a>
        </div>
    </div>
</div>
