<div class="cell small-2 animal-filter">
    <div class="animal-animal-filter">
        {% include 'frontend/grid/filter/_filters.html.twig' with { 'grid': resources } %}
    </div>
    <div class="animal-color-filter">
        <h3>{{ 'app.ui.main_color'|trans }}</h3>
        <div class="grid-x">
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
