{% macro simple(paginator, options) %}
    {% if paginator.haveToPaginate %}
        <div class="grid-x text-center">
            <div class="cell">
                {{ pagerfanta(paginator, 'foundation_translated', options|default({})) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
