{% macro simple(paginator, options) %}
    {% if paginator.haveToPaginate %}
        <div class="grid-x grid-padding-x grid-padding-y text-center" style="background: #f2f7f9">
            <div class="cell">
                {{ pagerfanta(paginator, 'foundation_translated', options|default({})) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
