.change-password {
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.1);
  background-color: #ffffff;
  padding: 1rem;
  .title-container {
    margin: 2rem 0;
    .title {
      font-family: Poppins;
      font-size: rem-calc(24);
      color: #003f5b;
    }
    .subtitle {
      font-family: Inter regular;
      font-size: rem-calc(16);
      font-weight: bold;
      color: rgba(0, 72, 103, 0.5);
    }
  }
  .grid-form {
    margin: 1rem;
  }
  h3 {
    font-family: Inter regular;
    font-size: rem-calc(16);
    font-weight: bold;
    color: #133e56;
  }
  h5 {
    font-family: Inter regular;
    font-size: rem-calc(12);
    line-height: 2;
    color: rgba(0, 66, 102, 0.5);
    margin-top: -2rem;
  }
  #change-password-logo {
    position: relative;
    transform: translateX(2rem);
    .fa-lock {
      font-size: rem-calc(23);
      padding: rem-calc(15) rem-calc(18);
      background-color: #e4f3f4;
      border-radius: 50%;
      color: #4baeb4;
    }
    .fa-pencil-alt {
      font-size: rem-calc(13);
      padding: rem-calc(3.5) rem-calc(3.5);
      background-color: #133e56;
      border-radius: 50%;
      color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 2.8rem;
    }
  }
}
