.homepage {
    .header {
        display: flex;
        .adopt-the-perfect-pet {
            background-image: linear-gradient(rgba(75, 174, 180, 0.33), rgba(75, 174, 180, 0.33)),
                url("../../img/pattern.svg");
            background-position-x: 50%;
            background-position-y: 50%;
            display: flex;
            @include breakpoint(large) {
                margin-bottom: 20vh;
            }
            @include breakpoint(medium down) {
                margin-bottom: 3vh;
            }
            h1 {
                color: #133e56;
                align-self: center;
                margin-left: 10vw;
                margin-right: 17vw;
                font-family: Poppins;
                @include breakpoint(medium down) {
                    padding: 6rem 0;
                    justify-content: center;
                }
            }
        }
        .couple-with-dog {
            position: relative;
            background-image: url("../../img/img_header.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 75vw;
            height: 70vh;
            overflow: hidden;
            border-bottom-left-radius: rem-calc(180);
        }
    }
    h2{
        margin-bottom: rem-calc(50);
    }
    section{
        padding: rem-calc(72) 0;
        &.latest-pets{
            .button{
                margin-top: 3rem;
            }
        }
        &.what-kind {
            background-color: $secondary-color;
            h2 {
                color: $white;
            }
            .card{
                padding: rem-calc(42);
                img{
                    margin: rem-calc(30);
                    max-width: rem-calc(78);
                }
                .title{
                    font-size: rem-calc(30);
                }
            }
        }
    }
}
