.petpage {
  background-color: #f4f8f9;
  padding-top: 5vw;
}

.header-pets {
  background-image: linear-gradient(rgba(75, 174, 180, 0.33), rgba(75, 174, 180, 0.33)), url("../../img/pattern_1.svg");
  height: 250px;
  object-fit: contain;
  display: flex;
}

.header-pets > h2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 590px;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  line-height: 1.25;
  align-self: center;
  color: #133e56;
}

.animal-filter > h2 {
  font-family: Poppins;
  font-size: 24px;
  color: #133e56;
  margin-bottom: 2vw;
}

.checkbox{
  display: flex;
  align-content: center;
}

.checkbox > label {
  font-family: Inter regular;
  font-size: 16px;
  line-height: 1.5;
  color: #1d4762;
}

.checkbox > input {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border-color: transparent;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  background-color: #ffffff;
}

.animal-filter > div > label {
  flex-direction: row;
}

.animal-filter > div > h3 {
  font-family: Inter regular;
  font-size: 16px;
  font-weight: bold;
  color: rgba(29, 71, 98, 0.5);
  margin-bottom: 1vw;
}

.color {
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  border: solid 1px #d0d8dd;
  background-color: #fceace;
}

.cell {
  margin-bottom: 0.3vw;
}

.animal-color-filter{
  margin-bottom: 1vw;
}

.color-radio {
  display: none;
}

.filter-color .container {
  width: 46px;
  height: 46px;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  border: solid 1px #d0d8dd;
  &.color-beige {
    background-color: #fceace;
  }
  &.color-black {
    background-color: #000000;
  }
  &.color-brown {
    background-color: #765b41;
  }
  &.color-ginger {
    background-color: #b35b1f;
  }
  &.color-grey {
    background-color: #7c7c7c;
  }
  &.color-lightgrey {
    background-color: #d3d3d3;
  }
  &.color-orange {
    background-color: #f39c12;
  }
  &.color-white {
    background-color: #ffffff;
  }
  input[type="radio"]:checked {
    background-color: red;
  }
  &:hover {
    border: solid 2px #ffffff;
  }
  &.active {
    box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.28);
    border: solid 4px #ffffff;
  }
}
