@import "../global/variables";

.bottom {
  background-color: map-get($monofony-color, light-grey);
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.taxon {
  h1 {
    font-size: 24px;
    text-align: center;
    color: map-get($monofony-color, dark-blue);
  }
  h3 {
    font-weight: bold;
    text-align: center;
    color: map-get($monofony-color, monofony-grey);
  }
  p {
    width: 581px;
    font-size: 14px;
    line-height: 1.71;
    color: map-get($monofony-color, dark-blue-bis);
  }
}

.pet {
  h1 {
    line-height: 1.25;
    color: map-get($monofony-color, dark-blue);
  }
  h3 {
    color: map-get($monofony-color, monofony-grey);
  }
  p {
    line-height: 1.5;
    color: map-get($monofony-color, dark-blue-bis);
  }
}

.info {
  text-align: center;
  border-radius: 10px;
  background-color: map-get($monofony-color, light-grey);
  h2 {
    color: map-get($monofony-color, monofony-grey);
    margin: auto;
    padding-top: 1vh;
    font-size: 18px;
  }
  h3 {
    color: map-get($monofony-color, dark-blue-bis);
    line-height: 1.5;
    margin: auto;
    padding-bottom: 1vh;
    font-size: 16px;
  }
}

.button.pet {
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  font-weight: bold;
  color: #ffffff;
}

.image.border {
  border-radius: 8%;
}

.image.low-opacity {
  opacity: 0.5;
  margin-bottom: 1vh;
}

.breadcrumb {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
