.about{
    padding-top: rem-calc(90);
    > .cell {
        padding: rem-calc(52);
        border-radius: rem-calc(10);
        box-shadow: 0 8px 14px 0 rgba(19, 62, 86, 0.08), 0 2px 6px 0 rgba(19, 62, 86, 0.08);
        background: $white;
        p {
          font-size: rem-calc(18);
          color: #8da2b0;
        }
    }
}
