.animal-filter {
    h3 {
        font-weight: 600;
    }
    .sylius-filters__field {
        margin-bottom: rem-calc(24);
        .field {
            margin-bottom: rem-calc(10);
        }
        .field > label {
            font-family: $header-font-family;
            font-weight: 600;
            margin-bottom: rem-calc(10);
            color: rgba($secondary-color, 0.5);
        }
        .filter-color {
            margin: rem-calc(-5);
            .container {
                width: 46px;
                height: 46px;
                border-radius: 2px;
                box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
                border: solid 1px #d0d8dd;
                margin: rem-calc(5);
                &.color-beige {
                    background-color: #fceace;
                }
                &.color-black {
                    background-color: #000000;
                }
                &.color-brown {
                    background-color: #765b41;
                }
                &.color-ginger {
                    background-color: #b35b1f;
                }
                &.color-grey {
                    background-color: #7c7c7c;
                }
                &.color-lightgrey {
                    background-color: #d3d3d3;
                }
                &.color-orange {
                    background-color: #f39c12;
                }
                &.color-white {
                    background-color: #ffffff;
                }
                input[type="radio"]:checked {
                    background-color: red;
                }
                &:hover {
                    border: solid 2px #ffffff;
                }
                &.active {
                    box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.28);
                    border: solid 4px #ffffff;
                }
                .color-radio {
                    display: none;
                }
            }
        }
        #criteria_sex {
            label {
                margin-right: 0;
            }
            i {
                margin-top: 0.4rem;
                margin-left: 1rem;
                opacity: 0.5;
                color: #133e56;
            }
        }
    }
}
