.footer {
  padding-top: rem-calc(70);
  .rectangle{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items: center;
    max-width: rem-calc(787);
    border-radius: rem-calc(10);
    box-shadow: 0 8px 14px 0 rgba(19, 62, 86, 0.08), 0 2px 6px 0 rgba(19, 62, 86, 0.08);
    background-color: #ffffff;
    .h1 {
      font-family: Poppins;
      font-size: rem-calc(24);
      padding-top: rem-calc(50);
      font-weight: bold;
      color: #133e56;
    }
    p {
      width: rem-calc(281);
      font-size: rem-calc(18);
      margin-top: rem-calc(15);
      color: #8da2b0;
    }
    .h2 {
      font-family: Poppins;
      font-size: rem-calc(18);
      margin-top: rem-calc(50);
      margin-bottom: rem-calc(20);
      color: #133e56;
    }
  }
}








