.main-footer {
    padding-bottom: rem-calc(60);
    padding-top: rem-calc(100);
    .about {
        padding: rem-calc(52);
        border-radius: rem-calc(10);
        box-shadow: 0 8px 14px 0 rgba(19, 62, 86, 0.08), 0 2px 6px 0 rgba(19, 62, 86, 0.08);
        background: $white;
        margin-bottom: $global-margin*4;
        p {
            font-size: rem-calc(18);
            color: #8da2b0;
        }
    }
}
