@import "../global/variables";

.main-header {
    .secondary-menu {
        background-color: map-get($monofony-color, dark-blue);
        padding: 0.4rem 0;
        a {
            color: #ffffff;
            font-size: rem-calc(13);
        }
    }
    .a-taxon {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #133e56;
    }
    .primary-menu {
        z-index: 2;
        position: relative;
        box-shadow: 0 8px 14px 0 rgba(19, 62, 86, 0.08), 0 2px 6px 0 rgba(19, 62, 86, 0.08);
        background-color: #ffffff;
        ul {
            background-color: #ffffff;
        }
        .menu {
            .a-taxon {
                text-transform: uppercase;

                &.active {
                    color: map-get($monofony-color, monofony-blue);
                }
            }
        }
        .burger {
            i {
                color: map-get($monofony-color, monofony-blue);
            }
        }
        img {
            @include breakpoint(small only) {
                width: 12rem;
            }
        }
    }
}
