@import "../global/variables";

.button.login{
  color: #4baeb4;
  background-color: transparent;
}
.button.register {
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.08);
  background-color: #4baeb4;
}

.a-taxon{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #133e56;
}

.logo{
  margin: 5px;
  padding-left: 5vw;
}

.admin-menu {
  width: auto;
  height: 30px;
  background-color: map-get($monofony-color, dark-blue);
  padding-left: 5.8vw;
  display: flex;
  a {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: #ffffff;
    font-size: 14px;
  }
}
