.my-account-menu {
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(19, 62, 86, 0.1);
  background-color: #ffffff;
  font-family: Inter regular;
  a {
    font-size: rem-calc(15);
    font-weight: 600;
    color: #4baeb4;
    i {
      margin-right: 1rem;
    }
  }
  .my-account-menu-title {
    font-size: rem-calc(16);
    font-weight: bold;
    color: rgba(0, 72, 103, 0.5);
    padding: 1.25rem 0 0 1.5rem;
  }
  @include breakpoint(medium down){
    margin-bottom: 2rem;
  }
}
