<div class="ui two column stackable grid">
    <div class="sixteen wide mobile sixteen wide tablet three wide computer column">
        {{ include('backend/pet/index/_taxon_tree.html.twig') }}
    </div>
    <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer column sylius-product-index">
        {{ include('backend/crud/index/_content.html.twig') }}
    </div>
</div>
