{% import 'backend/macro/image.html.twig' as images %}

<a class="ui fluid image">
    {% if animal.firstImage is not null %}
        {% set path = vich_uploader_asset(animal.firstImage, 'file') %}
        {{ images.render(path, 'default', animal.name) }}
    {% endif %}
</a>
<div class="ui small images">
    {% for animalImage in animal.images %}
        {% set path = vich_uploader_asset(animalImage, 'file') %}
        {{ images.render(path, 'default', animal.name) }}
    {% endfor %}
</div>
