<div class="center aligned wide column">
    <div class="ui red segment">
        <div class="ui small statistic">
            <div id="new-bookings" class="value" style="padding-bottom: 10px;">
                {{ amountOfBookings }}
            </div>
            <div class="label">
                {{ 'app.ui.bookings'|trans }}
            </div>
        </div>
    </div>
</div>
