<div class="center aligned wide column">
    <div class="ui green segment">
        <div class="ui small statistic">
            <div id="new-pets" class="value" style="padding-bottom: 10px;">
                {{ amountOfPets }}
            </div>
            <div class="label">
                {{ 'app.ui.pets'|trans }}
            </div>
        </div>
    </div>
</div>
