@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

@font-face {
    font-family: "Inter regular";
    src: url("../../fonts/inter-regular.woff2") format("woff2"), url("../../fonts/inter-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Inter semibold";
    src: url("../../fonts/inter-semibold.woff2") format("woff2"), url("../../fonts/inter-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
