.button{
    font-weight: 700;
    outline: 0;
    .icon{
        position: relative;
        display: inline-block;
        width: rem-calc(16);
        margin-right: rem-calc(8);
        svg{
            position: absolute;
            bottom: -2px;
            left: 0;
            path{
                fill: $white;
            }
        }
    }
    .loader{
        opacity: 0;
    }
    &.loading{
        pointer-events: none;
        .loader{
            opacity: 1;
            transition: .25s;
        }
        .icon, .text{
            opacity: 0;
            transition: .25s;
        }
    }
    &:not(.secondary):not(.alert):not(.success):not(.warning):not(.clear):not(.hollow){
        box-shadow: 0 2px 2px rgba($primary-color, .2);
    }
    &.secondary{
        background: rgba($primary-color, .1);
        color: $primary-color;
        .icon{
            svg path{
                fill: $primary-color;
            }
        }
        &:hover,
        &:focus{
            background: rgba($primary-color, .2);
            color: $primary-color;
        }
    }
    &.alert{
        color: $white;
        &:hover{
            color: $white;
        }
    }
    &.disabled{
        &.medium-gray{
            color: $black;
            svg path{
                fill: $black;
            } 
        }
    }
    &.rounded{
        border-radius: 50px;
    }
}
button{
    outline: 0;
}
