.callout {
    font-size: rem-calc(16);
    font-weight: $global-weight-bold;
    &.primary,
    &.alert,
    &.success,
    &.info {
        color: $white;
        a {
            color: $white;
        }
        b{
            font-weight: 700;
        }
        .icon{
            display: flex;
            border-radius: 50px;
            padding: rem-calc(10);
            background: rgba($white, .18);
            svg path{
                fill: $white;
            }
        }
    }
    &.info{
        background: $secondary-color;
    }
    &.toast {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        max-width: rem-calc(480);
        margin: 2rem auto;
        box-shadow: 0 16px 24px rgba($secondary-color, 0.1);
        @include breakpoint(small only) {
            margin: 0;
            border-radius: 0;
            font-size: rem-calc(15);
            max-width: 100%;
        }
    }
    .close-button{
        right: 1rem;
        top: 1rem;
        font-size: 1rem;
        line-height: 1;
        svg path{
            fill: $white;
        }
    }
}
