$error-color: #f15656;

input[type="submit"],
button[type="submit"] {
    min-height: rem-calc(48);
}

.error-message {
    color: $error-color;
    font-weight: 700;
}

.input-wrapper {
    .field{
        position: relative;
        display: block;
        margin-bottom: 1.5rem;
        label,
        input,
        textarea {
            transition: all 0.2s;
            touch-action: manipulation;
        }
        label {
            position: absolute;
            pointer-events: none;
            margin-left: rem-calc(10);
            padding: 0 rem-calc(4);
            top: rem-calc(-9);
            background: $white;
        }
        input,
        textarea {
            margin-bottom: 0;
            &:hover:not(:focus) {
                border: 1px solid rgba($secondary-color, 0.3);
            }
            &:placeholder-shown + label {
                cursor: text;
                max-width: 66.66%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transform-origin: left bottom;
                transform: translate(0, 1.75rem) scale(1.167);
            }
            &:focus::-webkit-input-placeholder,
            &:focus::-moz-placeholder {
                opacity: 1;
            }
            &:not(:placeholder-shown) + label,
            &:focus + label {
                transform: translate(0, 0) scale(1);
                cursor: pointer;
                color: $primary-color;
            }
        }
        textarea{
            min-height: rem-calc(180);
            text-indent: 2.7rem;
        }
        ::-webkit-input-placeholder {
            opacity: 0;
            transition: inherit;
            color: rgba(#141846, 0.2);
        }
        ::-moz-placeholder {
            opacity: 0;
            transition: inherit;
            color: rgba(#141846, 0.2);
        }
        .field-mention {
            font-size: 11px;
            color: rgba(#141846, 0.5);
            font-weight: 700;
            display: inline-block;
            padding: 0 0 0 rem-calc(12);
        }
        &.has-error {
            input,
            textarea {
                border: 1px solid $error-color;
                &:focus ~ label,
                &:valid ~ label {
                    color: $error-color;
                }
            }
            .error {
                color: $error-color;
            }
        }
        &.has-note {
            margin-bottom: 0.5rem;
            &.has-error {
                margin-bottom: 1rem;
            }
        }
        .optional {
            position: absolute;
            top: rem-calc(-8);
            right: rem-calc(10);
            padding: 0 rem-calc(4);
            font-size: $form-label-font-size;
            color: rgba($secondary-color, 0.5);
            background: $white;
        }
        &.check-password{
            .note{
                .icon{
                    position: absolute;
                    left:rem-calc(-2);
                    background: $primary-color;
                    border-radius: 999px;
                    display: flex;
                    padding: rem-calc(1);
                    margin-top: rem-calc(1);
                    opacity: 0;
                    svg path{
                        fill: $white;
                    }
                }
                &.active{
                    color: $primary-color;
                    .icon{
                        opacity: 1;
                        animation: boingCheck .3s;
                    }
                }
                .count.active,
                .uppercase.active{
                    display: inline-block;
                    color: $primary-color;
                    animation: boingCheck .3s;
                }
            }
            @keyframes boingCheck {
                0%   {transform: scale(1);}
                80% {transform: scale(1.3);}
                100% {transform: scale(1);}
            }
        }
    }
    &.with-icon-right{
        .icon-right {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            padding: rem-calc(10) rem-calc(16) rem-calc(11) 0;
            svg{
                path{
                    fill: $primary-color;
                }
            }
            .eye-off{
                display: none;
            }
            &.show-password{
                .eye-on{
                    display: none;
                }
                .eye-off{
                    display: block;
                }
            }
        }
        input{
            padding-right: calc(2rem + 24px);
            appearance: none;
        }
    }
}
.connection-error {
    color: $error-color;
    font-size: rem-calc(18);
    font-weight: 700;
    text-align: center;
}
.input-group {
    .input-group-field {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.checkbox-wrapper {
    .field{
        position: relative;
        label {
            font-size: rem-calc(14);
            margin-left: 1.8rem;
            color: $secondary-color;
            cursor: pointer;
            line-height: 1.4;
            a {
                color: inherit;
                font-weight: inherit;
                text-decoration: underline;
                transition: 0.25s;
                &:hover {
                    color: $primary-color;
                    transition: 0.25s;
                }
            }
        }
        input {
            position: absolute;
            z-index: 1;
            opacity: 0;
            width: rem-calc(18);
            height: rem-calc(18);
            cursor: pointer;
            &:checked {
                + .fake-checkbox {
                    border: 1px solid $primary-color;
                    transition: 0.25;
                    svg {
                        opacity: 1;
                        animation: boing 0.25s;
                    }
                }
                ~ label {
                    color: $secondary-color;
                }
            }
        }
        .fake-checkbox {
            position: absolute;
            top: 0;
            left: 0;
            width: rem-calc(18);
            height: rem-calc(18);
            border-radius: $global-radius;
            border: 1px solid rgba($secondary-color, 0.2);
            cursor: pointer;
            transition: 0.25;
            svg {
                opacity: 0;
                transition: 0.25s;
                path {
                    fill: $primary-color;
                }
            }
        }
        &.has-error {
            .field-mention{
                font-size: 11px;
                color: rgba(#141846, 0.5);
                font-weight: 700;
                display: inline-block;
                padding: 0 0 0 rem-calc(26);
                &.error {
                    color: $error-color;
                }
            }
        }
        &:hover {
            >.fake-checkbox {
                border-color: $primary-color;
                transition: 0.25s;
            }
        }
        @keyframes boing {
            0% {
                transform: scale(0);
            }
            80% {
                transform: scale(1.4);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}
select {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $secondary-color;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
}
.note {
    padding-left: rem-calc(14);
    font-size: rem-calc(11);
    color: rgba($secondary-color, 0.5);
    font-weight: $global-weight-bold;
    margin-bottom: 1.2rem;
    margin-top: rem-calc(2);
}
.input-wrapper.with-icon,
.select-wrapper.with-icon {
    .field{
        position: relative;
        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            padding: rem-calc(10) 0 rem-calc(11) rem-calc(16);
        }
        input,
        select,
        form {
            padding-left: calc(2rem + 24px);
            appearance: none;
        }
        ::placeholder,
        select:invalid,
        [disabled] {
            color: rgba($secondary-color, 0.5);
        }
        input::placeholder {
            opacity: 1;
        }
    }
}
