@import "../global/variables";

.card {
  position: relative;
  .bw {
    filter: grayscale(100%);
  }
  .reserved {
    position: absolute;
    bottom: 6.5rem;
    left: 1.5rem;
    color: white;
    font-family: Inter regular;
    i {
      margin-right: 0.5rem;
    }
  }
  .card-section {
    .meta > a{
      font-family: Inter regular;
      font-weight: bold;
      font-size: 18px;
      color: map-get($monofony-color, monofony-grey);
    }
    .first-line{
      display: flex;
      align-items: center;
      h6 {
        margin-bottom: 0;
        font-size: rem-calc(20);
        font-weight: 500;
        color: #133e56;
        margin-left: 0.5rem;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    color: map-get($monofony-color, dark-blue);
    img {
      width: 100%;
      object-fit: cover;
    }
    i {
      margin-left: 1rem;
      opacity: 0.5;
      color: #133e56;
    }
  }
}
