.reveal {
    outline: none;
    .close-button {
        top: 1.8rem;
        right: 1.8rem;
        outline: 0;
    }
    .title {
        font-family: $body-font-family;
        margin-bottom: 2rem;
    }
    &.product-conditions {
        max-width: rem-calc(400);
        .condition {
            position: relative;
            border: 1px solid rgba($secondary-color, 0.2);
            border-radius: $global-radius;
            padding: $global-padding/2 0;
            .condition-icon{
                padding-right: 0;
            }
            h5 {
                font-family: $body-font-family;
                font-size: rem-calc(15);
            }
            p {
                margin: 0;
                font-size: rem-calc(12);
            }
            &:not(:last-child) {
                margin-bottom: rem-calc(8);
            }
            .check-icon{
                display: none;
                position: absolute;
                border-radius: 999px;
                background: rgba($primary-color, 0.1);
                right: rem-calc(12);
                top: rem-calc(12);
                padding: .3rem;
                svg path{
                    fill: $primary-color;
                }
            }
            &.current {
                border: 1px solid $primary-color;
                .condition-icon{
                    .path-sparkles, .path-shadow{
                        opacity: 1;
                    }
                    .path-card, .path-v{
                        fill: $secondary-color;
                    }
                    .path-drawing{
                        fill: $primary-color;
                    }
                }
                .check-icon{
                    display: inline-flex;
                }
            }
        }
    }
}
.is-reveal-open {
  .secondary-nav,
  .main-nav,
  .grid-container,
  .footer-site {
    filter: blur(3px);
    transition: filter 0.25s;
  }
}
