.searchbar {
    .select-field {
        position: relative;
        select {
            color: rgba($secondary-color, 0.5);
            font-weight: 500;
            font-size: rem-calc(12);
            border-radius: 50px 0 0 50px;
            border-right: none;
            padding-left: 1.5rem;
            padding-right: 2rem;
            background: rgba($secondary-color, 0.03);
            transition: 0.25s;
            &:focus,
            &:hover {
                cursor: pointer;
                border: 1px solid rgba($secondary-color, 0.2);
                border-right: none;
                background: rgba($secondary-color, 0.08);
                transition: 0.25s;
            }
        }
        .arrow{
            position: absolute;
            top: rem-calc(14);
            right: rem-calc(6);
            pointer-events: none;
            svg path{
                fill: $dark-gray;
            }
        }
    }
    .search-field {
        position: relative;
        input {
            padding: 1rem 3.5rem 1rem 1rem;
            font-size: rem-calc(12);
            border-radius: 0 50px 50px 0;
            border-left: none;
            font-weight: 500;
            &:focus,
            &:hover,
            &:focus:not(:hover) {
                border: 1px solid rgba($secondary-color, 0.2);
                border-left: none;
            }
            &::placeholder {
                color: rgba($secondary-color, 0.5);
            }
        }
        .submit {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            padding-right: 1rem;
        }
        ul{
            position: absolute;
            width: calc(100% - 20px);
            font-size: 1rem;
            margin-left: 0;
            z-index: 2;
            list-style: none;
            border-radius: 0 0 $global-radius*2 $global-radius*2;
            background: $white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
            li{
                display: flex;
                align-items: center;
                transition: .25s;
                cursor: pointer;
                transition: .25s ease-in-out;
                &.parent{
                    font-size: rem-calc(11);
                    text-transform: uppercase;
                    color: $dark-gray;
                    font-weight: 700;
                    padding: rem-calc(7) rem-calc(16);
                    &:hover{
                        color: darken($dark-gray, 10%);
                    }
                }
                &.child{
                    padding: rem-calc(9) rem-calc(16);
                    &:hover{
                        font-weight: 500;
                    }
                }
                &.parent + .child{
                    margin-top: rem-calc(6);
                }
                &:hover{
                    background-color: rgba($very-light-gray, .5);
                }
            }
        }
    }
}
