table{
  margin-bottom: 0;
  thead{
    border-bottom: 1px solid $light-gray;
    th{
      height: rem-calc(60);
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem-calc(13);
      letter-spacing: 1.2px;
      &.sylius-table-column-actions{
          display: none;
      }
    }
  }
  tbody{
    td{
      height: rem-calc(80);
      a{
        font-size: rem-calc(12);
        color: $secondary-color;
        text-decoration: underline;
      }
    }
  }
}
.wrapper-table{
  box-shadow: 0 16px 24px rgba($secondary-color, .1);
  border-radius: $global-radius*2;
  margin-bottom: 3rem;
  overflow: hidden;
  overflow-x: auto;
  @include breakpoint(medium down){
    cursor: ew-resize;
    table{
      min-width: rem-calc(1024);
    }
    table, table thead th, table tbody td a{
      font-size: 90%
    }
  }
  @include breakpoint(small only){
    table thead th, table tbody td{
      padding: .6rem;
    }
  }
}
