{% import 'backend/macro/image.html.twig' as images %}

<div class="cell small-3">
    <div class="card">
        {% if pet.firstImage is not null %}
            {% set path = vich_uploader_asset(pet.firstImage, 'file') %}
            {{ images.render(path, 'pet_grid', pet.name) }}
        {% endif %}
        <div class="card-section">
            <a class="header" href="{{ path('app_frontend_pet_show', { 'slug': pet.slug }) }}">{{ pet.name }}</a>
            <div class="meta">
                <a>{{ pet.taxon.name }}</a>
            </div>
        </div>
    </div>
</div>
