{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        {% for pet in resources %}
            {% include 'frontend/homepage/_card.html.twig' with {'pet': pet} only %}
        {% endfor %}
    </div>
</div>
