<div class="about grid-container grid-x align-center text-center">
    <div class="cell medium-8 bg-white">
        <div class="h2">{{ 'app.ui.about_us'|trans }}</div>
        <p>{{ 'app.ui.monofony_is_nananini'|trans }}</p>
        <div>{{ 'app.ui.any_questions_lets_talk'|trans }}</div>
    </div>
</div>
