<footer class="main-footer grid-container">
    <div class="grid-x grid-padding-y grid-margin-x align-center">
        <div class="cell shrink">
            <img src="{{ asset('assets/frontend/img/logo.svg', 'frontend') }}"/>
        </div>
        <div class="cell shrink">
            <a href="https://github.com/Monofony/Demo"><img src="{{ asset('assets/frontend/img/github.svg', 'frontend') }}"/></a>
            <a href="https://mobizel.com/"><img src="{{ asset('assets/frontend/img/mobizel.svg', 'frontend') }}"/></a>
        </div>
    </div>
</footer>
