<header class="main-header">
    <div class="secondary-menu">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <a class="cell shrink" type="button" href="https://github.com/Monofony/Demo" target="_blank"><i class="fab fa-github"></i>  {{ 'app.ui.show_on_github'|trans }}</a>
                <a class="cell shrink" type="button" href="{{ path('sylius_backend_login') }}"><i class="fas fa-lock"></i>  {{ 'app.ui.admin'|trans }}</a>
            </div>
        </div>
    </div>
    {% include 'frontend/_menu.html.twig' %}
</header>
