{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

<div class="ui stackable centered grid">
    <div class="twelve wide column">
        <div class="ui five link cards">
            {% for animal in animals.data %}
                {% include 'frontend/animal/_card.html.twig' with {'animal': animal} only %}
            {% endfor %}
        </div>

        <div class="ui hidden divider"></div>

        {{ pagination.simple(resources.data) }}
    </div>
</div>


